﻿@{
    Layout = null;
}

<div class="signinpanel">
    <div class="row">
        <div class="col-md-7">
            <div class="signin-info">
                <div class="logopanel">
                    <h1><span>[</span><strong> TaskPlanner </strong><span>]</span></h1>
                </div>
                <!-- logopanel -->

                <div class="mb20"></div>

                <h5><strong>Добро пожаловать в планировщик задач!</strong></h5>
                <ul>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i>Адаптивная верстка</li>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i>HTML5/CSS3 валидация</li>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i>Удобный интерфейс</li>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i>и многое другое...</li>
                </ul>
                <div class="mb20"></div>
                <strong>Еще не участник? <a ui-sref="register"">Зарегистрируйтесь</a></strong>
            </div>
        </div>
        <div ng-init="init()" class="col-md-5">
            <form id="auth" ng-submit="connect()" class="form-horizontal" role="form">
                <h4>Авторизация</h4>
                <p class="mb5 mb20">Войдите для доступа к аккаунту</p>
                <input name="login" type="text" ng-model="login" class="form-control uname" placeholder="Email" required />
                <input name="pass" type="password" ng-model="password" class="form-control pword" placeholder="Пароль" required />
                <button class="btn btn-success btn-block" type="submit">Войти</button>
            </form>
        </div>
    </div>
</div>
<!-- /.signinpanel -->
