﻿@{
    Layout = null;
}
<script>
    $('input[type=file]').bootstrapFileInput();
    $('.file-inputs').bootstrapFileInput();
</script>

<div class="pageheader">
    <h2><i class="glyphicon glyphicon-cog" style="margin-right: 1%;"></i>Управление аккаунтом</h2>
</div>

<div class="contentpanel">
    <form role="form" class="shadow" style="padding: 1%; ">
        <div class="row">
            <div class="col-md-3 col-md-offset-1" style="margin-left: 50px;">
                <img class="img-thumbnail" src="{{user.Avatar}}" style=" width: 97%;" />
                <img flow-img="$flow.files[0]" />

                <span class="file-input-wrapper btn btn-sm  btn-success" style="margin-top: 1%; width: 97%;">
                    <span><i class="glyphicon glyphicon-download-alt" style="margin-right: 3%; "></i>Загрузить аватар</span>
                    <input type="file" title="Загрузить аватар" style="cursor: pointer;" ng-file-select="onFileSelect($files)">
                </span>
            </div>
            <div class="col-md-3 col-md-offset-1" style="border-left: solid 1px #d4caca; margin-left: 50px;">
                <div class="mb10">
                    <label for="inputName" class="control-label">Имя</label>
                    <input ng-model="user.Name" id="inputName" required type="text" class="form-control" required />
                </div>
                <div class="mb10">
                    <label for="inputSurname" class="control-label">Фамилия</label>
                    <input ng-model="user.Surname" id="inputSurname" required type="text" class="form-control" required />
                </div>
                <div>
                    <label for="inputSurame" class="control-label">О себе</label>
                    <textarea ng-model="user.Info" class="form-control" rows="6" style="resize: none;" required></textarea>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1" style="border-left: solid 1px #d4caca; height: 297px; margin-left: 50px;">
                <div class="input-group mb10" style="margin-top: 23px;">
                    <span class="input-group-addon" style="padding: 0; background: #ffffff;">
                        <img src="~/Content/images/sotialNetworks/1390488600_vkontakte.png" style="width: 25px; height: 25px;" /></span>
                    <input ng-model="user.Vk" type="text" id="inputVk" class="form-control" style="border-left: 0;" required />
                </div>
                <div class="input-group mb10" style="margin-top: 35px;">
                    <span class="input-group-addon" style="padding: 0; background: #ffffff;">
                        <img src="~/Content/images/sotialNetworks/w500h5001347632760skype.png" style="width: 25px; height: 25px;" /></span>
                    <input ng-model="user.Skype" type="text" id="inputVk" class="form-control" style="border-left: 0;" required />
                </div>
                <div class="input-group mb10" style="margin-top: 35px;">
                    <span class="input-group-addon Twitter" style="padding: 0; background: #ffffff;">
                        <img src="~/Content/images/sotialNetworks/w500h5001347632760twitterold.png" style="width: 25px; height: 25px;" /></span>
                    <input ng-model="user.Twitter" type="text" id="inputVk" class="form-control" style="border-left: 0;" required />
                </div>
                <div class="input-group mb10" style="margin-top: 35px;">
                    <span class="input-group-addon Facebook" style="padding: 0; background: #ffffff;">
                        <img src="~/Content/images/sotialNetworks/facebook500.png" style="width: 25px; height: 25px;" /></span>
                    <input ng-model="user.Facebook" type="text" id="inputVk" class="form-control" style="border-left: 0;" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-5">
                <button type="submit" ng-click="saveChanges()" class="btn btn-sm btn-success" style="margin-top: 2%;"><i class="glyphicon glyphicon-ok" style="margin-right: 3%;"></i>Сохранить изменения</button>
            </div>
        </div>
    </form>
</div>
