﻿@{
    Layout = null;
}

<div ng-init="init()">

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h4>Создание команды</h4>
        </div>
        <form role="form" ng-submit="submit()">
            <div class="modal-body">
                <div class="mb10">
                    <label for="inputEmail3" class="control-label">
                        Название команды
                        <span class="asterisk">*</span>
                    </label>
                    <input type="text" ng-model="$parent.teamName" class="form-control" placeholder="Введите название команды" required />
                </div>
            </div>
            <div style="margin-bottom: 20px; margin-left: 20px;">
                <input type="button" class="btn btn-warning btn-sm " ng-click="cancel()" value="Отмена">
                <input type="submit" class="btn btn-success btn-sm primary-btn " style="margin-left: 10px;" value="Добавить" />
            </div>
        </form>
    </script>

    <!--Teams-->
    <div class="contentpanel">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-dark">
                    <div class="panel-heading row nomargin nopadding" style="padding: 10px; padding-bottom: 0px;">
                        <div class="col-md-4" style="padding-top: 5px;">
                            <h3 class="panel-title nomargin" style="width: 100px; vertical-align: central;">
                                Команды
                            </h3>
                        </div>
                        <div class="col-md-8">
                            <button ng-click="createTeam()" class="btn btn-sm btn-success pull-right"><i class="glyphicon glyphicon-plus"></i> Добавить команду</button>
                        </div>
                    </div>
                    <div class="panel-body" style="padding: 0; height: auto; min-height: 0px;">
                        <div class="panel-body" style="padding: 0; min-height: 0;">
                            <div >
                                <table class="table-striped table-condensed" style="margin-bottom: 0; width: 100%;">
                                    <div ng-hide="team.teams()" style="margin-left: 33%;">Список команд пуст!</div>
                                    <tr ng-repeat="item in team.teams()">
                                        <td class="nopadding">
                                            <h4 class="text-primary"><strong style="color: black;">{{$index+1}}</strong></h4>
                                        </td>
                                        <td class="nopadding">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h4><strong><a style=" margin-right: 5px;" ui-sref="main.team({ id: item.Id })"> {{item.Name}}</a></strong></h4>
                                                    <small class="text-muted"></small>
                                                    <p class="email-summary"></p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="nopadding">
                                            <small class="text-muted pull-right ng-binding" style="padding-bottom: 20px; font-size: 12px;">{{item.Role}}</small>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
            <div class="col-md-8">
                <div class="panel panel-dark">
                    <div class="panel-heading row nomargin nopadding" style="padding: 13px; padding-bottom: 13px;">
                        <div class="col-md-4" style="padding-top: 5px;">
                            <h3 class="panel-title nomargin" style="width: 100px; vertical-align: central;">
                                Задачи
                            </h3>
                        </div>
                    </div>
                    <div class="panel-body" style="padding-top: 0px; padding-bottom: 0px;">
                            <div class=" row">
                        <table class="table-striped" style="width:100%;">
                            <tr ng-repeat="task in tasks | filter:{StatusByte:0} | orderBy:'Deadline'" style="padding-top: 10px;">
                                <td class="text-primary" style="padding-left: 10px; font-size: 18px; "><h4 style="color: #000000; margin-bottom: 0;">{{task.Name}} <small style="font-size: 11px; margin-bottom: 5px;" class="pull-right">(необходимо выполнить до <strong>{{task.Deadline | date : fullDate}}</strong>)</small></h4> <small class="text-muted" style="font-size: 12px;"> {{task.ProjectName}}</small></td>
                                <td class="">
                                    <a href="" ui-sref="main.team({ id: task.TeamId })" class=" btn-xs btn-info noborder pull-right" style="width: auto; margin: 3px;"><i class="glyphicon glyphicon-log-in"></i> к команде</a>

                                    <a href="#/main/project/{{task.ProjectId}}?taskId={{task.Id}}" class="btn-xs btn-info noborder pull-right" style="width: auto; margin: 3px;"><i class="glyphicon glyphicon-log-in" style="margin-right: 5px;"></i> к задаче</a>
                                </td>
                            </tr>
                            <div ng-hide="tasks" style="margin-left: 40%;">Список задач пуст!</div>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
