﻿@{
    Layout = null;
}

<div class="headerbar">
    <div class="logopanel">
        <h1><a ui-sref="main.index" class="navbar-brand"><span>[ </span><strong>TaskPlanner</strong><span> ]</span></a></h1>
    </div>
    <div class="header-right">
        <ul class="headermenu">
            <li class="header-menu-hover">
                <div class="btn-group">
                    @*<button type="button" class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown"><i class="glyphicon glyphicon-time" style="margin-right: 5px;"></i>00:00 <b class="caret"></b></button>*@
                    <div class="dropdown-menu dropdown-menu-head pull-right">
                        <h4 class="title mb20">Задача</h4>
                        <ul class="dropdown-list">
                            <div class="row" style="margin-top: 10px;">
                                <div style="width: 90%; margin-left: 5%; min-height: 70px; margin-bottom: 0;" class="well well-sm">
                                    Название задачи 
                                <div class="row" style="width: 85%; margin-top: 50px;">
                                    <div class="col-sm-5 col-sm-offset-7">
                                        <a type="button" class="btn btn-xs btn-info" href="http://localhost:1411/#/main/project/54d06cb6-fb1c-4117-9441-150ea598afdc?taskId=5e5a362c-e544-43aa-97ca-0ff7dd6db0f5"><i class="glyphicon glyphicon-log-in"></i> Перейти к задаче</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <li>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-1">
                                        <button type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-pause"></i> Пауза </button>
                                    </div>
                                    <div class="col-md-4 col-md-offset-1">
                                        <button type="button" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-ok"></i> Завершить </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li ng-show="invite.invites().length" class="header-menu-hover">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown"><i class="glyphicon glyphicon-tag"></i><span class="badge">{{invite.invites().length}}</span></button>
                    <ul class="dropdown-menu dropdown-menu-head pull-right">
                        <h5 class="title">У вас {{invite.invites().length}} новое приглашение</h5>
                        <ul class="dropdown-list gen-list" style="padding: 0;">
                            <li ng-repeat="item in invite.invites()" style="padding: 1px;">
                                <div style="border-bottom: solid #bfbfbf 1px; padding: 5px;">
                                    <h5 style="margin-bottom: 0;"><strong>
                                        <img style="width: 30px; height: 30px; margin-right: 5px;" class="img-rounded" src="{{item.Avatar}}" />{{item.AdminName}}</strong><small> приглашает вас в команду </small></h5>
                                    <p style="margin-left: 12%;"><strong>{{item.TeamName}}</strong></p>
                                    <div class="row">
                                        <div class="col-md-3 col-md-offset-2">
                                            <button ng-click="invite.acceptInvite($index)" type="button" class="btn btn-xs btn-success" ><i class="glyphicon glyphicon-ok"></i>Принять</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button ng-click="invite.declineInvite($index)" type="button" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i>Отменить</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </ul>
                </div>
            </li>
            <li ng-init="init()" class="header-menu-hover">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> {{user.Name}} {{user.Surname}} <b class="caret"></b></button>
                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                        <li><a ui-sref="main.profile"><i class="glyphicon glyphicon-user"></i>Профиль </a></li>
                        <li><a ui-sref="main.profileEdit"><i class="glyphicon glyphicon-cog"></i>Управление аккаунтом </a></li>
                        <li class="divider"></li>
                        <li ng-controller="loginCtrl"><a ng-click="disconnect()" ui-sref="login"><i class="glyphicon glyphicon-off"></i>Выйти </a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="container-fluid">
    <div class="row" ui-view autoscroll='false'></div>
</div>
