﻿@{
    ViewBag.Title = "Tasks";
    Layout = null;
}

<div ng-init="init()">

    <script type="text/ng-template" id="myDeleteModal.html">
        <div class="modal-header">
            <h4>Удаление проекта</h4>
        </div>
        <form ng-submit="submit()">
            <div class="modal-body">
                <div class="mb10">
                    Вы действительно хотите удалить проект?
                </div>
            </div>
            <div style="margin-bottom: 20px; margin-left: 20px;">
                <input type="button" class="btn btn-warning btn-sm" ng-click="cancel()" value="Отмена">
                <input type="submit" class="btn btn-info btn-sm primary-btn" style="margin-left: 10px;" value="Подтвердить" />
            </div>
        </form>
    </script>

    <script type="text/ng-template" id="myDeleteModalTask.html">
        <div class="modal-header">
            <h4><i class="glyphicon glyphicon-exclamation-sign" style="color: red;"></i> Удаление задачи</h4>
        </div>
        <form ng-submit="submit()">
            <div class="modal-body">
                <div class="mb10">
                     Вы действительно хотите удалить задачу?
                </div>
            </div>
            <div style="margin-bottom: 20px; margin-left: 20px;">
                <input type="button" class="btn btn-warning btn-sm" ng-click="cancel()" value="Отмена">
                <input type="submit" class="btn btn-danger btn-sm primary-btn" style="margin-left: 10px;" value="Подтвердить" />
            </div>
        </form>
    </script>

    <script type="text/ng-template" id="myModalContentEdit.html">
        <div class="modal-header">
            <h4>Редактирование проекта</h4>
        </div>
        <form ng-submit="submit()">
            <div class="modal-body">
                <div class="mb10">
                    <label for="inputEmail3" class="control-label">
                        Название проекта:
                        <span class="asterisk">*</span>
                    </label>
                    <input type="text" ng-model="$parent.projectName" class="form-control" placeholder="Введите название проекта" required />
                </div>
                <div class="mb10">
                    <label for="inputEmail3" class="control-label">
                        Описание проекта:
                    </label>
                    <input type="text" ng-model="$parent.projectInfo" class="form-control" placeholder="Введите описание проекта" style="resize: none;" />
                </div>
            </div>
            <div style="margin-bottom: 20px; margin-left: 20px;">
                <input type="button" class="btn btn-warning btn-sm" ng-click="cancel()" value="Отмена">
                <input type="submit" class="btn btn-success btn-sm primary-btn" style="margin-left: 10px;" value="Сохранить" />
            </div>
        </form>
    </script>

    <div class="pageheader ">
        <div style="display: inline-block;">
            <h2>
                <i class="glyphicon glyphicon-list-alt"></i> {{currentProject.Name}}
            </h2>
        </div>
        <div class="btn-group pull-right">
                    <a href="#/main/project/{{params.id}}/statistic" class="btn btn-success" role="button"><i class="glyphicon glyphicon-stats"></i> Статистика проекта</a>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-edit"></i> Управление проектом <span class="caret"></span>
                    </button>
            <ul class="dropdown-menu" role="menu">
                <li style="cursor: pointer;" ng-click="editProject()">
                    <a><i class="glyphicon glyphicon-pencil"></i> Редактировать проект</a>
                </li>
                <li style="cursor: pointer;" ng-click="deleteProject()">
                    <a><i class="glyphicon glyphicon-remove"></i> Удалить проект</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="contentpanel">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="pull-right">
                            <div ng-show="currentProject.RoleId==1" class="btn-group mr10">
                                <button ng-click="showAddWindow()" type="button" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-plus"></i> Добавить задачу</button>
                            </div>
                        </div>
                        <h4 class="mb5">Задачи</h4>
                        <hr />
                        <div ng-show="tasks">
                            <form role="form">
                                <div class="form-group has-feedback">
                                    <input ng-model="searchField" type="text" class="form-control" id="inputSuccess2" placeholder="Найти">
                                </div>
                            </form>
                        </div>
                        
                        <div ng-hide="tasks" style="margin-left: 37%;">Список задач пуст!</div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-email">
                                <tr ng-class="{ 'success': $index == selectedTaskIndex }" ng-repeat="task in tasks | filter:{Name:searchField}">
                                    <td>
                                        <div class="ckbox ckbox-success">
                                            <input ng-model="task.StatusByteString" ng-true-value="3" ng-false-value="1" type="checkbox" id="{{'checkbox'+$index}}" disabled>
                                            <label for="{{'checkbox'+$index}}"></label>
                                        </div>
                                    </td>
                                    <td ng-click="selectTask($index)">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img alt="user-avatar" src="{{task.Avatar}}" class="media-object">
                                            </div>
                                            <div class="media-body">
                                                <span class="media-meta pull-right" style="border: solid #d7d1d1 1px; border-radius: 4px; padding: 1px; width: 170px; text-align: center;">сделать до {{task.Deadline | date : fullDate}}</span>
                                                <p class="email-summary">{{task.Name}}</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div ng-hide="window==1 || window==2" class="panel panel-default">
                    <div class="panel-heading" style="padding-top: 15px; padding-bottom: 15px; ">
                        <h3 class="panel-title" style="min-height: 35px;">
                            <div ng-show="selectedTask">
                                <div ng-show="currentProject.RoleId==1" class="btn-group mr10">
                                    <button class="btn btn-default" type="button" ng-click="showEditWindow()" data-original-title=" изменить">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </button>
                                    <button class="btn btn-default" type="button" ng-click="deleteTask()" data-original-title="Удалить">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </div>
                                <button ng-click="closeWindow()" type="button" class="close pull-right" aria-hidden="true">&times;</button>
                            </div>
                            <div ng-hide="selectedTask">
                                <h4 style="font-size: 18px; margin: 0;">
                                    <i class="glyphicon glyphicon-hand-left"></i>
                                    Добавьте новую задачу, нажав соответствующую кнопку
                                </h4>
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div ng-show="selectedTask">
                            <h3 class="nomargin">
                                <label for="checkbox00"> {{selectedTask.Name}}</label><button ng-show="selectedTask.StatusByteString!=3" ng-click="completeTask()" class="btn-sm btn-success pull-right" style="border: none;"><i class="glyphicon glyphicon-stop"></i> Завершить</button>
                                <button ng-show="selectedTask.StatusByteString==3" ng-click="incompleteTask()" class="btn-sm btn-success pull-right" style="border: none;"><i class="glyphicon glyphicon-play"></i> Восстановить</button>
                            </h3>
                            <h5>
                                @*<small>Создана <strong>{{selectedTask.Created | fullDate}}</strong>.*@ Исполнитель <ins><strong>{{selectedTask.UserName}} {{selectedTask.Surname}}</strong>.</ins>
                            </h5>
                            <blockquote style="margin-top: 20px;">
                                <div>{{selectedTask.Info}}</div>
                            </blockquote>
                            
                            <div class="fa-border" style="margin-bottom: 1%; padding: 2%; border-radius: 5px;">
                                <div ng-repeat="comment in comments" class="comment-content" style="border-bottom: 1px solid #d7d1d1; ">
                                    <img class="img-rounded" style="width: 40px; height: 40px; margin-top: 5px;" src="{{comment.UserAvatar}}" />
                                    <strong>{{comment.UserName+' '+comment.UserSurname}}</strong>
                                    <h5 style="margin-top: 5px;" class="pull-right"><small>{{comment.Date | date : fullDate}}</small></h5>
                                    <p style="margin-left: 45px; margin-top: 3px; margin-bottom: 2%;"><small>{{comment.Message}}</small></p>
                                    
                                </div>
                            </div>
                            <textarea ng-model="commentMessage" class="form-control" rows="6" placeholder="Напишите комментарий..." style="resize: none;"></textarea>
                            <br />
                            <button ng-click="addComment()" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-comment"></i> Комментировать</button>
                        </div>
                        <div ng-hide="selectedTask">
                            <h4>
                                <i class="glyphicon glyphicon-hand-left"></i>
                                Вы можете найти нужную вам задачу
                            </h4>
                        </div>
                        <div ng-hide="selectedTask" style="margin-top: 30px;">
                            <h4>
                                <i class="glyphicon glyphicon-hand-left"></i>
                                Либо выделить задачу для просмотра её подробного описания
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel -->


            <!--Creating task-->
            <div class="col-md-6">
                <div ng-show="window==1" class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="mb5">Создание задачи
                            <button ng-click="closeWindow()" type="button" class="close pull-right" aria-hidden="true">×</button>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="mb10">
                            <label for="inputEmail3" class="control-label">
                                Название задачи
                                <span class="asterisk">*</span>
                            </label>
                            <input ng-model="addTask.Name" required="" class="form-control" placeholder="Введите название задачи" required>
                        </div>

                        <div class="mb10">
                            <label for="inputEmail3" class="control-label">
                                Исполнитель
                                <span class="asterisk">*</span>
                            </label>
                            <p>
                                <button type="button" class="btn btn-default" ng-model="addTask.User" ng-options="user as (user.Name+' '+user.Surname) for user in users" placeholder="Выберите исполнителя" bs-select>
                                    Action <span class="caret"></span>
                                </button>
                            </p>
                        </div>

                        <div class="mb10">
                            <label for="inputEmail3" class="control-label">
                                Информация о задаче
                            </label>
                            <textarea ng-model="addTask.Info" class="form-control" rows="6" placeholder="Введите информацию о задаче" style="resize: none;" required></textarea>
                        </div>

                        <div class="mb10">
                            <div class="row">
                                <div class="col-md-6" style="width: 305px;">
                                    <label for="inputEmail3" class="control-label">
                                        Срок сдачи
                                        <span class="asterisk">*</span>
                                    </label>
                                    <p class="input-group" style="width: 305px;">
                                        <input ng-model="addTask.Deadline" type="text" class="form-control" datepicker-popup="{{format}}" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" required />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open($event)">
                                                <img src="~/Content/images/calendar.png" style="height: 15px; width: 15px;"/>
                                            @*<i class="glyphicon glyphicon-list-alt"></i>*@
                                            </button>
                                        </span>
                                    </p>
                                </div>

                            </div>
                        </div>

                        @*<div class="mb10">
                            <label for="inputEmail3" class="control-label">
                                Срок выполнения задачи
                                <span class="asterisk">*</span>
                            </label>
                            <div>
                                <timepicker ng-model="addTask.Time" ng-change="changed()" hour-step="1" minute-step="30" show-meridian="ismeridian" required></timepicker>
                            </div>
                        </div>*@
                        <button ng-click="createTask()" type="submit" class="btn btn-sm btn-success" style="margin-left: 45%;"><i class="glyphicon glyphicon-floppy-disk"></i> Сохранить</button>
                    </div>
                </div>




                <div ng-show="window==2" class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="mb5">
                            Редактирование задачи
                            <button ng-click="closeWindow()" type="button" class="close pull-right" aria-hidden="true">×</button>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="mb10">
                            <label for="inputEmail3" class="control-label">
                                Название задачи
                                <span class="asterisk">*</span>
                            </label>
                            <input ng-model="editTask.Name" required="" class="form-control" placeholder="Введите название задачи" required>
                        </div>

                        @*<div class="mb10">
                            <label for="inputEmail3" class="control-label">
                                Исполнитель
                                <span class="asterisk">*</span>
                            </label>
                            <p>
                                <button type="button" class="btn btn-default" ng-model="editTask.User" ng-options="user as (user.Name+' '+user.Surname) for user in users" placeholder="Выберите исполнителя" bs-select>
                                    Action <span class="caret"></span>
                                </button>
                            </p>
                        </div>*@

                        <div class="mb10">
                            <label for="inputEmail3" class="control-label">
                                Информация о задаче
                            </label>
                            <textarea ng-model="editTask.Info" class="form-control" rows="6" placeholder="Введите информацию о задаче" style="resize: none;" required></textarea>
                        </div>

                        <div class="mb10">
                            <div class="row">
                                <div class="col-md-6" style="width: 305px;">
                                    <label for="inputEmail3" class="control-label">
                                        Срок сдачи
                                        <span class="asterisk">*</span>
                                    </label>
                                    <p class="input-group" style="width: 305px;">
                                        <input ng-model="editTask.Deadline" type="text" class="form-control" datepicker-popup="{{format}}" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" required />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open($event)">
                                                <img src="~/Content/images/calendar.png" style="height: 15px; width: 15px;" />
                                            </button>
                                        </span>
                                    </p>
                                </div>

                            </div>
                        </div>
                        <button ng-click="editTaskSave()" type="submit" class="btn btn-sm btn-success" style="margin-left: 45%;"><i class="glyphicon glyphicon-floppy-disk"></i> Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
