﻿@{
    Layout = null;
}

<div class="signuppanel">
    <div class="row">
        <div class="col-md-6">
            <div class="signup-info">
                <div class="logopanel">
                    <h1><span>[</span> TaskPlanner <span>]</span></h1>
                </div>
                <!-- logopanel -->

                <div class="mb20"></div>

                <h5><strong>Планировщик задач!</strong></h5>
                <p>TaskPlanner - это простой и удобный инструмент для эффективного управления вашим коллективом.</p>
                <div class="mb20"></div>

                <div class="feat-list">
                    <i class="fa fa-calendar"></i>
                    <h4 class="text-success-override">Планирование</h4>
                    <p>Устанавливайте даты выполнения задач и не пропускайте сроки их выполнения.</p>
                </div>

                <div class="feat-list">
                    <i class="fa fa-tasks"></i>
                    <h4 class="text-success-override">Управление проектами</h4>
                    <p>Управляйте проектами. Раздавайте и контролируйте поручения.</p>
                </div>

                <div class="feat-list">
                    <i class="fa fa-signal"></i>
                    <h4 class="text-success-override">Создавайте команды</h4>
                    <p>Возможность систематизировать данные о ходе выполнения проэктов с помощью сбора статистической информации.</p>
                </div>

                <div class="feat-list">
                    <i class="fa fa-search"></i>
                    <h4 class="text-success-override">Поиск</h4>
                    <p>Быстрый доступ к информации с помощью инструментов поиска.</p>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form id="registration" ng-submit="registration()" class="form-horizontal signup" role="form">
                <h3>Регистрация</h3>
                <p class="mt5 mb20">
                    Уже зарегистрированы?
                    <a ui-sref="login"><strong>Войдите</strong></a>
                </p>
                <label for="firstName" class="control-label">
                    Имя
                    <span class="asterisk">*</span>
                </label>
                <div class="row mb10">
                    <div class="col-sm-6">
                        <input ng-model="name" type="text" required name="firstName" class="form-control" placeholder="Имя">
                    </div>
                    <div class="col-sm-6">
                        <input ng-model="surname" type="text" required name="lastName" class="form-control" placeholder="Фамилия">
                    </div>
                </div>

                <div class="mb10">
                    <label for="inputEmail" class="control-label">
                        Email
                        <span class="asterisk">*</span>
                    </label>
                    <input ng-model="email" type="email" required name="inputEmail" class="form-control">
                </div>

                <div class="mb10">
                    <label for="inputPassword" class="control-label">
                        Пароль
                        <span class="asterisk">*</span>
                    </label>
                    <input ng-model="password" type="password" required class="form-control" name="inputPassword">
                </div>
                <div class="mb10">
                    <label for="repassword" class="control-label">
                        Повторите пароль
                        <span class="asterisk">*</span>
                    </label>
                    <input ng-model="confirmPassword" type="password" required class="form-control" name="repassword">
                </div>
                <br />
                <button type="submit" class="btn btn-lg btn-success btn-block">Регистрация</button>
            </form>
        </div>
    </div>
    <!-- /.signuppanel -->
</div>
