﻿@{
    Layout = null;
}
<style>
    .chart {
        width: 700px;
        height: 500px;
    }
</style>
<div class="pageheader" ng-init="init()">
    <h2><i class="glyphicon glyphicon-stats" style="margin-right: 1%;">
    </i> Статистика</h2>
</div>

<div class="contentpanel">
    <div class="row">
        <div class="" style="width: 100%;">
            <div class="panel panel-dark">
                <div class="panel-heading">
                    <h4 class="panel-title"></h4>
                </div>
                <div class="panel-body">

                    <div class="shadow">
                        <div style="margin-left: 30%;" ac-chart="'pie'"
                             ac-data="data"
                             ac-config="config"
                             class="chart">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

