﻿@{
    Layout = null;
}
<div ng-init="init()">

    <!-- Modal -->
    <script type="text/ng-template" id="myDeleteModalTask.html">
        <div class="modal-header">
            <h4><i class="glyphicon glyphicon-exclamation-sign" style="color: red;"></i> Расформирование команды</h4>
        </div>
        <form ng-submit="submit()">
            <div class="modal-body">
                <div class="mb10">
                    Вы действительно хотите расформировать команду?
                </div>
            </div>
            <div style="margin-bottom: 20px; margin-left: 20px;">
                <input type="button" class="btn btn-warning btn-sm" ng-click="cancel()" value="Отмена">
                <input type="submit" class="btn btn-danger btn-sm primary-btn" style="margin-left: 10px;" value="Подтвердить" />
            </div>
        </form>
    </script>

    <!-- Modal for creating progect -->
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h4>Создание проекта</h4>
        </div>
        <form ng-submit="submit()">
            <div class="modal-body">
                <div class="mb10">
                    <label for="inputEmail3" class="control-label">
                        Название проекта:
                        <span class="asterisk">*</span>
                    </label>
                    <input type="text" ng-model="$parent.projectName" class="form-control" placeholder="Введите название проекта" required />
                </div>
                <div class="mb10">
                    <label for="inputEmail3" class="control-label">
                        Описание проекта:
                    </label>
                    <input type="text" ng-model="$parent.projectInfo" class="form-control" placeholder="Введите описание проекта" style="resize: none;" />
                </div>
            </div>
            <div style="margin-bottom: 20px; margin-left: 20px;">
                <input type="button" class="btn btn-warning btn-sm" ng-click="cancel()" value="Отмена">
                <input type="submit" class="btn btn-success btn-sm primary-btn" style="margin-left: 10px;" value="Добавить" />
            </div>
        </form>
    </script>

    <script type="text/ng-template" id="myModalContentEdit.html">
        <div class="modal-header">
            <h4>Редактирование команды</h4>
        </div>
        <form ng-submit="submit()">
            <div class="modal-body">
                <div class="mb10">
                    <label for="inputEmail3" class="control-label">
                        Название проекта:
                        <span class="asterisk">*</span>
                    </label>
                    <input type="text" ng-model="$parent.teamName" class="form-control" placeholder="Введите название проекта" required />
                </div>
            </div>
            <div style="margin-bottom: 20px; margin-left: 20px;">
                <input type="button" class="btn btn-warning btn-sm" ng-click="cancel()" value="Отмена">
                <input type="submit" class="btn btn-success btn-sm primary-btn" style="margin-left: 10px;" value="Сохранить" />
            </div>
        </form>
    </script>

<div class="pageheader">
    <div ng-switch on="currentTeam.RoleId">
        <div ng-switch-when="0" class="pull-right">
            <button ng-click="leaveTeam()" class="btn btn-default"><i class="glyphicon glyphicon-log-out"></i> Покинуть команду</button>
        </div>
        <div ng-switch-when="1" class="pull-right">
            <!-- Single button -->
            <div class="btn-group">
                <a href="#/main/team/{{params.id}}/statistic" class="btn btn-success" role="button"><i class="glyphicon glyphicon-stats"></i> Статистика команды</a>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-edit"></i> Управление командой <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li style="cursor:pointer;" ng-click="editTeam()"><a>Редактировать команду</a></li>
                    <li style="cursor:pointer;" ng-click="deleteTeam()"><a>Расформировать команду</a></li>
                </ul>
            </div>
        </div>
    </div>
    <h2>
        <img src="~/Content/images/group.png" />
        @*<img src="~/Content/images/team.png" />*@ {{currentTeam.Name}}
    </h2>
</div><!-- /.pageheader -->

<div class="contentpanel">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-dark" >
                <div class="panel-heading nopadding" style="padding-top: 5px; padding-bottom: 5px; padding-left: 0; padding-right: 0;">
                    <div class="panel-heading row nomargin nopadding" style="padding-top:5px; padding-bottom: 5px;" >
                        <div class="col-md-4" style="padding-top: 5px;">
                            <h3 class="panel-title nomargin" style="width: 100px; vertical-align: central; height: 25px; padding-top: 2px;">
                                Проекты:
                            </h3>
                        </div>
                        <div class="col-md-8" style="padding-right: 0;">
                            <button ng-show="currentTeam.RoleId==1" class="btn btn-sm btn-success pull-right" ng-click="createProject()"><i class="glyphicon glyphicon-plus"></i> Добавить проект</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body primary" style="padding: 0;">
                    <div class="table-responsive" style="width: 100%; height: 100%;">
                        <table class="table table-bordered table-email">
                            <tr ng-repeat="item in project.projects()">
                                <td>
                                    <h3 class="text-primary"><strong>{{$index+1}}</strong></h3>
                                </td>
                                <td>
                                    <div class="media">
                                        <div class="media-body">
                                            <a ui-sref="main.project({ id: item.ProjectId })"><h4 class="text-primary"><strong>{{item.Name}}</strong></h4></a>
                                            <h5 class="email-summary">{{item.Info}}</h5>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <div ng-hide="project.projects()" style="margin-left: 40%;">Список проектов пуст!</div>
                        </table>

                    </div>
                </div>
            </div>
        </div><!-- /.panel-primary -->

        <div class="col-md-6">
            <div class="panel panel-dark">
                <div class="panel-heading" style="padding-bottom: 40px; padding-top: 10px;">
                    <h3 class="panel-title" style="float: left; width: auto; padding-top: 5px;">Пользователи:</h3>
                </div>
                <div class="panel-body primary" style="padding: 0;">
                    <div class="table-responsive">
                        <table class="table table-email">
                            <tr ng-repeat="item in project.teammates() | orderBy:'-RoleId'">
                                <td>
                                    <div class="media">
                                        <a href="" class="pull-left">
                                            <img alt="" src="{{item.Avatar}}" class="media-object">
                                        </a>
                                        <div class="media-body">
                                            <strong><h4 class="text-primary">{{item.Name}} {{item.Surname}}</h4> {{item.Email}}</strong>
                                            <small class="text-muted pull-right">{{item.Role}}</small>
                                        </div>
                                        <button ng-show="item.RoleId==0 && currentTeam.RoleId==1" ng-click="project.excludeTeammate($index,params.id)" class="btn btn-danger btn-xs pull-right" style="border: none; ">Исключить</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div ng-show="currentTeam.RoleId==1" style="padding: 1%;">
                        <input style="margin-top: 10px;" type="text" ng-model="selectedUser" typeahead="u as u.Email for u in user.users() | filter:{Email: $viewValue} | limitTo:8" class="form-control" placeholder="Введите адрес електронной почты">
                        <button class="btn btn-sm btn-success" ng-click="sendInvite()" style="margin-top: 10px;"><i class="glyphicon glyphicon-tag"></i>  Отправить приглашение</button>
                    </div>
                </div>
            </div><!-- /.panel-success -->
        </div>
    </div>
</div>