﻿@{
    Layout = null;
}
<style>
    .chart {
        width: 1000px;
        height: 500px;
    }
</style>
<div class="pageheader" ng-init="init()">
    <h2>
        <i class="glyphicon glyphicon-stats" style="margin-right: 1%;">
        </i> Статистика
    </h2>
</div>
<div style="margin-left: 23%;" ac-chart="'bar'"
     ac-data="data"
     ac-config="config"
     class="chart">
</div>


