﻿@{
    ViewBag.Title = "UserMain";
    Layout = "";
}

<div class="pageheader ">
    <h2>
        <img src="~/Content/images/nameplate.png" />
    @*<i class="glyphicon glyphicon-th-list" style="margin-right: 1%;"></i>*@Профиль</h2>
</div>

<div class="contentpanel">
    <div class="row">
        <div class="shadow col-md-7" style="padding: 1%; margin-left: 1%; height: 100%; width: 50%;">
            <h3><i class="glyphicon glyphicon-user" style="margin-right: 1%;"></i>Пользователь</h3>
            <hr />
            <div class="col-md-4 col-md-offset-1" style="margin-left: 0; padding: 0; margin-right: 2%;">
                <img class="img-thumbnail" style="width: 100%; height: 100%;" src="{{user.Avatar}}" />
                <button ui-sref="main.profileEdit" class="btn btn-sm btn-success" style="margin-top: 3%; width: 100%;"><i class="glyphicon glyphicon-cog"></i> Управление аккаунтом</button>
            </div>
            <div class="">
                <h2>
                    {{user.Name}} {{user.Surname}}
                    <p><small >Зарегистрирован {{user.Created | date : fullDate}}</small></p>
                </h2>
                <div class="col-md-7" style="padding: 0;">
                    <h2 style="margin-top: 0;">Связь</h2>
                    <div class="col-md-10" style="padding-left: 0;">
                        <img src="~/Content/images/sotialNetworks/1390488600_vkontakte.png" style="width: 30px; height: 30px;" /><a target="_blank" style="margin-left: 10px;" href="{{user.Vk}}">{{user.Vk}}</a>
                    </div>
                    <br />
                    <div class="col-md-10 " style="margin-top: 5px; padding-left: 0;">
                        <img src="~/Content/images/sotialNetworks/w500h5001347632760skype.png" style="width: 30px; height: 30px;" /><a target="_blank" style="margin-left: 10px;">{{user.Skype}}</a>
                    </div>
                        <br />
                    <div class="col-md-10 " style="margin-top: 5px; padding-left: 0;">
                        <img src="~/Content/images/sotialNetworks/w500h5001347632760twitterold.png" style="width: 30px; height: 30px;" /><a target="_blank" style="margin-left: 10px;" href="{{user.Twitter}}">{{user.Twitter}}</a>
                    </div>
                        <br />
                    <div class="col-md-10 " style="margin-top: 5px; padding-left: 0;">
                        <img src="~/Content/images/sotialNetworks/facebook500.png" style="width: 30px; height: 30px;" /><a target="_blank" style="margin-left: 10px;" href="{{user.Facebook}}">{{user.Facebook}}</a>
                    </div>
                    </div>
            </div>
        </div>
        <div class="col-md-5 shadow" style="margin-left: 1%; padding: 1%; width: 47%;">
            <h3><i class="glyphicon glyphicon-info-sign" style="margin-right: 1%;"></i>О себе</h3>
            <hr />
            <h2 class="nomargin"><small>{{user.Info}}</small></h2>
        </div>
        
    </div>
</div>
