﻿body {
    padding-bottom: 20px;
    background-color: rgb(238, 240, 242);
    min-width: 550px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

mt5 {
    margin-top: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

mt20 {
    margin-top: 20px;
}

mb50 {
    margin-bottom: 50px;
}

.ckbox {
    position: relative;
}

    .ckbox input[type="checkbox"] {
        opacity: 0;
    }

    .ckbox label:before {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 1px;
        left: 0;
        content: '';
        display: inline-block;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        border: 1px solid #bbb;
        background: #fff;
    }

    .ckbox input[type="checkbox"]:disabled + label {
        color: #999;
    }

        .ckbox input[type="checkbox"]:disabled + label:before {
            background-color: #eee;
        }

    .ckbox input[type="checkbox"]:checked + label::after {
        font-family: 'FontAwesome';
        content: "\F00C";
        position: absolute;
        top: 0;
        left: 3.5px;
        display: inline-block;
        font-size: 11px;
        width: 16px;
        height: 16px;
        color: #fff;
    }

.ckbox-success input[type="checkbox"]:checked + label:before {
    border-color: #1CAF9A;
    background-color: #1CAF9A;
}

.table-email {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #eee;
    margin: 0;
    background-color: #f7f7f7;
}

    .table-email tbody > tr > td {
        vertical-align: middle;
    }

    .table-email tr:hover {
        background-color: #eee;
    }

    .table-email tr.selected td {
        background-color: #eee;
    }

    .table-email .ckbox {
        width: 18px;
        height: 19px;
    }

        .table-email .ckbox input[type="checkbox"]:checked + label:after {
            top: 2px;
        }

    .table-email td:first-child {
        width: 30px;
    }

    .table-email .media {
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    .table-email .media-object {
        width: 35px;
    }

    .table-email .media h4 {
        margin: 0;
        font-size: 18px;
        line-height: normal;
    }

    .table-email .media-meta {
        font-size: 11px;
        color: #999;
    }

    .table-email .email-summary {
        margin: 2px 0 0 0;
    }

        .table-email .email-summary strong {
            color: #333;
        }

.contentpanel {
    padding: 20px;
    position: relative;
}

    .contentpanel::after {
        clear: both;
        display: block;
        content: '';
    }

.searchform input {
    width: 250px;
    background: #fff url(/Content/images/search.png) no-repeat 95% center;
    float: left;
    padding: 18px 35px 18px 20px;
    border: 0;
    border-right: 1px solid #eee;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 50px;
    font-size: 14px;
}

body.signin {
    background: #e4e7ea;
}

/* sign in */

.signinpanel {
    width: 780px;
    margin: 10% auto 0 auto;
}

.signinpanel .logopanel {
    float: none;
    width: auto;
    padding: 0;
    background: none;
}

.signinpanel .signin-info ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.signinpanel .signin-info a {
    color: #333;
}

.signinpanel .form-control {
    display: block;
    margin-top: 15px;
}

.signinpanel form {
    background: rgba(255,255,255,0.2);
    border: 1px solid #ccc;
    -moz-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    -webkit-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 30px;
}

.signinpanel form a {
    color: #666;
}

    .signinpanel .uname {
        background: #fff url(/Content/images/user.png) no-repeat 95% center;
        padding-right: 15%;
    }

    .signinpanel .btn {
        margin-top: 15px;
    }

    .signinpanel .pword {
        background: #fff url(/Content/images/locked.png) no-repeat 95% center;
        padding-right: 15%;
    }

    .signinpanel .btn {
        margin-top: 15px;
    }

    .signinpanel .signin-info a {
        color: #333;
    }
    /* !sign in*/

    /* sign up*/

    .signuppanel {
    margin: 5% auto 0 auto;
    width: 780px;
}

.signuppanel .row {
    margin-left: -5px;
    margin-right: -5px;
}

.signuppanel .logopanel {
    float: none;
    width: auto;
    padding: 0;
    background: none;
}

.signuppanel .col-sm-6,
.signuppanel .col-sm-5,
.signuppanel .col-sm-3,
.signuppanel .col-sm-4 {
    padding-left: 5px;
    padding-right: 5px;
}

.signuppanel .signup-info {
    padding-right: 20px;
}

.signuppanel form {
    background: rgba(255,255,255,0.2);
    border: 1px solid #ccc;
    -moz-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    -webkit-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 30px;
}
/* Sign up*/

.asterisk {
    color: #D9534F;
}

.navbar-default-old {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.dropdown:hover {
    background-color: rgb(59, 115, 175);
}

.comment-content > h5 {
    margin-left: 2.5%;
    margin-top: 0;
}

.panel-body > h2 {
    margin-top: 0;
}

.panel-body > h3 {
    margin-top: 0;
}

.horizontal-menu .mainpanel {
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.logopanel {
    padding: 10px;
    background: #fff;
}

.logopanel h1 a {
    font-size: 30px;
    letter-spacing: -1.5px;
    color: #1d2939;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.logopanel h1 {
    margin: 0;
}

/*headerbar*/
.headerbar {
    border-left: 1px solid #eee;
    background: #fff;
}

.headerbar::after {
    clear: both;
    display: block;
    content: '';
}

.headerbar .logopanel {
    float: left;
    width: 240px;
    border-right: 1px solid #eee;
}
/*!headerbar*/

.logopanel h1 a span {
    color: #1caf9a;
}

.header-right {
    float: right;
}

.headermenu {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .headermenu:after {
        clear: both;
        display: block;
        content: '';
    }

    .headermenu > li {
        display: inline-block;
        float: left;
        border-left: 1px solid #eee;
        position: relative;
    }

    .headermenu .dropdown-toggle {
        padding: 12px 10px;
        border-color: #fff;
        background: #fff;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        border: 0;
    }

        .headermenu .dropdown-toggle:hover,
        .headermenu .dropdown-toggle:focus,
        .headermenu .dropdown-toggle:active,
        .headermenu .dropdown-toggle.active,
        .headermenu .open .dropdown-toggle.dropdown-toggle {
            background: #f9f9f9;
            color: #333;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

    .headermenu .btn-group {
        margin-bottom: 0;
    }

    .headermenu .dropdown-menu-usermenu::before {
        content: '';
        position: absolute; /* Абсолютное позиционирование */
        right: 20px;
        bottom: 100%; /* Положение треугольника */
        border: 7px solid transparent;
        border-bottom: 7px solid #1d2939;
    }

    .headermenu .dropdown-menu-head::before {
        content: '';
        position: absolute; /* Абсолютное позиционирование */
        right: 15px;
        bottom: 100%; /* Положение треугольника */
        border: 7px solid transparent;
        border-bottom: 7px solid #1d2939;
    }

    .headermenu .dropdown-menu-usermenu {
        background: #1d2939;
        min-width: 200px;
    }

        .headermenu .dropdown-menu-usermenu:after {
            right: 95px;
        }

    .headermenu .dropdown-menu li a {
        color: #94989d;
        font-size: 13px;
        padding: 7px 10px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-transition: all 0.2s ease-out 0s;
        -webkit-transition: all 0.2s ease-out 0s;
        transition: all 0.2s ease-out 0s;
    }

        .headermenu .dropdown-menu li a:hover {
            background: #1caf9a;
            color: #fff;
        }

    .headermenu .dropdown-menu li i {
        font-size: 11px;
        margin-right: 5px;
    }

    .headermenu .tp-icon {
        padding: 12px 15px;
        height: 50px;
        font-size: 16px;
        background: #fff;
        color: #333;
        border-color: #fff;
        -moz-transition: all 0.2s ease-out 0s;
        -webkit-transition: all 0.2s ease-out 0s;
        transition: all 0.2s ease-out 0s;
    }

        .headermenu .tp-icon + .dropdown-menu:after {
            right: 17px;
        }

    .headermenu .dropdown-menu-head li a {
        color: #333;
        padding: 0;
        opacity: 1;
    }

        .headermenu .dropdown-menu-head li a:hover {
            background: none;
            color: #428BCA;
            text-decoration: none;
        }

.tp-icon .badge {
    position: absolute;
    font-size: 10px;
    font-weight: normal;
    right: 4px;
    top: 10px;
    line-height: 13px;
    color: #fff;
    background-color: #D9534F;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 2px 5px;
}

.headermenu .dropdown-menu-head {
    padding: 0;
    min-width: 300px;
}

    .headermenu .dropdown-menu-head ul {
        border: 1px solid #ddd;
        border-top: 0;
        padding: 0 10px;
    }

    .headermenu .dropdown-menu-head li a {
        color: #333;
        padding: 0;
        opacity: 1;
    }

        .headermenu .dropdown-menu-head li a:hover {
            background: none;
            color: #428BCA;
            text-decoration: none;
        }

.dropdown-menu-head {
    background: #fff;
}

    .dropdown-menu-head .title {
        background: #1d2939;
        color: #94989d;
        padding: 15px;
        text-transform: uppercase;
        font-size: 11px;
        margin: 0;
    }

.gen-list li a {
    display: block;
}

.gen-list li a:hover {
    color: #333 !important;
    text-decoration: none;
}

.gen-list li .name {
    font-size: 13px;
    font-family: 'LatoBold','Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;
    line-height: 21px;
    display: block;
}

.gen-list li .msg {
    font-size: 11px;
    line-height: normal;
    color: #999;
    display: block;
}

.dropdown-list li {
    padding-bottom: 15px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

.dropdown-list .desc {
    font-size: 13px;
    margin-top: 7px;
    margin-bottom: 7px;
    line-height: normal;
    color: #999;
    display: block;
}

.pageheader {
    padding: 15px;
    border-bottom: 1px solid #d3d7db;
    border-top: 1px solid #eee;
    background: #f7f7f7;
    position: relative;
}

    .pageheader h2 {
        font-size: 28px;
        color: #1D2939;
        letter-spacing: -0.5px;
        margin: 0;
    }

    .pageheader .breadcrumb-wrapper {
        position: absolute;
        top: 23px;
        right: 25px;
    }

        .pageheader .breadcrumb-wrapper .label {
            color: #999;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: normal;
            display: inline-block;
        }

    .pageheader .breadcrumb {
        background: none;
        display: inline-block;
        padding: 0;
    }

        .pageheader .breadcrumb li {
            font-size: 12px;
        }

            .pageheader .breadcrumb li.active {
                color: #333;
            }

    .pageheader h2 span {
        font-size: 13px;
        text-transform: none;
        color: #999;
        font-style: italic;
        vertical-align: middle;
        letter-spacing: 0;
    }

        .pageheader h2 span::before {
            content: '/';
            margin: 0 10px 0 5px;
            color: #ccc;
        }

.panel-dark {
    background-color: #fff;
}

    .panel-dark > .panel-heading {
        color: #ffffff;
        padding: 20px;
        background-color: rgb(29, 41, 57);
        border-color: rgb(238, 240, 242);
    }

        .panel-dark > .panel-heading + .panel-collapse .panel-body {
            border-top-color: #428bca;
        }

    .panel-dark > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #428bca;
    }

.activate {
    color: #fff;
    background-color: black;
    border: 1px solid #fff;
    padding: 5%;
    border-radius: 5px;
}

.nav-dark {
    background: #1d2939;
    border-radius: 4px 4px 0 0;
}

    .nav-dark > li > a {
        color: #999;
    }

        .nav-dark > li > a:hover {
            color: #fff;
            border-radius: 4px 4px 0 0;
        }

.nomargin {
    margin: 0;
}

.contentpanel > .row {
    max-height: 400px;
}

.col-md-4 .btn {
    margin-bottom: 3%;
}

.Vk {
    background: #fff url(/Content/images/sotialNetworks/vkontakte.png) no-repeat;
}

.Skype {
    background: #fff url(/Content/images/sotialNetworks/skype.png) no-repeat;
}

.Twitter {
    background: #fff url(/Content/images/sotialNetworks/twitter.png) no-repeat;
}

.Facebook {
    background: #fff url(/Content/images/sotialNetworks/facebook.png) no-repeat;
}

.col-md-2 > button {
    width: 32px;
    height: 32px;
}

.input-group-addon {
    width: 31px;
    white-space: nowrap;
    vertical-align: middle;
}

.logopanel h1 {
    font-size: 30px;
    font-family: 'LatoBold', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;
    letter-spacing: -1.5px;
    color: #1d2939;
    line-height: 30px;
    margin: 0;
}

.feat-list {
    margin-top: 20px;
}

    .feat-list .fa {
        font-size: 20px;
        border: 2px solid #636e7b;
        padding: 4px 5px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 100px;
        float: left;
    }

    .feat-list h4 {
        margin-left: 45px;
        padding-top: 3px;
    }

    .feat-list p {
        margin-left: 45px;
    }

.text-success-override {
    color: #1caf9a;
}

.shadow {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 3px 8px rgba(0, 0, 0, 0.2);
}

.file-input-wrapper {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

    .file-input-wrapper input[type=file], .file-input-wrapper input[type=file]:focus,
    .file-input-wrapper input[type=file]:hover {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        z-index: 99;
        outline: 0;
    }

.file-input-name {
    margin-left: 8px;
}

.shadow {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 3px 8px rgba(0, 0, 0, 0.2);
}

.congratulations {
    max-width: 50%;
    width: 100%;
    text-align: center;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

.noborder {
    border: none !important;
}

#inputSuccess2 {
    background: url(/Content/images/search.PNG) no-repeat 98% center;
    padding-right: 5%;
}

@media screen and (max-width: 640px) {
    .signinpanel,
    .signuppanel {
        margin: 0 auto;
        width: 480px;
        padding: 20px;
    }

    .signinpanel form {
        margin-top: 20px;
    }

    .signup-footer {
        margin-bottom: 10px;
    }

    .signuppanel .form-control {
        margin-bottom: 10px;
    }

    .signup-footer .pull-left,
    .signup-footer .pull-right {
        float: none !important;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {

    .signinpanel,
    .signuppanel {
        width: 360px;
    }

    .pageheader h2 {
        font-size: 18px;
    }

        .pageheader h2 span {
            font-size: 11px;
        }
}

@media screen and (max-width: 320px) {

    .signinpanel,
    .signuppanel {
        width: 310px;
    }
}

@media screen and (max-width: 360px) {
    .pageheader h2 span {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .breadcrumb-wrapper {
        display: none;
    }
}
